alumnet_fe/node_modules
alumnet_fe/dist
alumnet_fe/build
alumnet_fe/coverage

alumnet_be/env
alumnet_be/.vscode
alumnet_be/__pycache__
alumnet_be/migrations
alumnet_be/static
alumnet_be/media

.vscode
__pycache__