alumnet_fe/node_modules
alumnet_fe/dist
alumnet_fe/build
alumnet_fe/coverage
alumnet_fe/.vscode
alumnet_fe/.angular

alumnet_be/env
alumnet_be/.vscode
alumnet_be/__pycache__
alumnet_be/migrations
alumnet_be/static
alumnet_be/media

**/__pycache__/
**/.vscode/
**/.DS_Store